<title>My application</title>
  <h1>Welcome to My Summation Program!</h1>
    <br/> This program need 3 input of array integers for first,second and third box; the last (the fourth) box need one result integer </p>
    <br/> This program sum of all integers int the three array and check the given result integer's equality for the summation </p>
    Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <textarea name="input3" rows="10" cols="30"></textarea>
        <textarea name="input4" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
